/*
TABLE OF CONTENTS:

1. Root elements & Variables
2. 
*/
* {
  margin: 0;
  padding: 0;
  color: white;
  font-family: 'Public Sans', sans-serif;
    box-sizing: border-box;
  border: 0;
}

:root {
  --primary-color: rgb(2, 79, 143);
  --secondary-color: rgb(2, 33, 54);
  --third-color: rgb(34, 144, 237);
  --nav-height: 80px;
  --contact-us-width: 450px;
}

.naql-color {
  color: var(--primary-color);
}

nav {
  background-color: var(--secondary-color);
  height: var(--nav-height);
  width: 100vw;
  z-index: 1;
  position: absolute;
}

.nav {
  display: inline-block;
  padding-top: calc(var(--nav-height) / 2);
}

#nav-logo {
  transform: translate(100%, -30%);
  font: 700 36px 'Public Sans';
}


.nav li {
  display: inline-flex;
  margin: 0 2vw;
}
#nav-list {
  transform: translate(-25%, -25%);
  position: absolute;
  right: 0;
}

.nav-link {
  color: inherit;
  text-decoration: none;
}
.nav-link:hover {
  color: var(--third-color);
}


#hero {
  position: relative;
  height: calc(100vh - var(--nav-height));
  width: 100vw;
  background: url("./content/heroImage.jpg") 0 0 no-repeat fixed;
  background-size: cover;
  transform: translate(0, -20%);
}

#background-filter {
  height: 100%;
  width: 100%;
  background-color: rgba(39, 62, 84, 0.6);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

#intro {
  position: absolute;
  font: 600 26px 'Public Sans';
  top: 50%;
  left: 10%;
}
#intro-transportation {
  font-size: 32px;
}
#intro-imisu {
  font-size: 32px;
}
#intro-get-started {
  color: var(--primary-color);
  border-radius: 5px;
  height: 40px;
  width: 100px;
  margin-top: 10px;
  font-weight: 600;
}


#form {
  height: 100%;
  width: 100%;
  position: relative;
}
#contact-us {
  position: absolute;
  top: 40%;
  right: 15%;
  height: 300px;
  border-radius: 15px;
  width: var(--contact-us-width);
  background: rgba(109, 125, 144, 0.554);
}

#contact-us-text {
  position: absolute;
  left: 5%;
  top: 8%;
  font: 600 24px 'Public Sans';
}

.text-input {
  color: black;
  padding-left: 15px;
}
#contact-us input {
  height: 40px;
  width: calc(var(--contact-us-width) - 50px);
  margin: 5px 0 0 0;
  border-radius: 5px;
}
#contact-us-form {
  position: absolute;
  left: 5%;
  top: 20%;
}

#form-submit {
  background-color: var(--primary-color);
}
#form-submit:hover {
  background-color: var(--third-color);
}



#items {
  position: relative;
  height: 300px;
}
.item-holder {
  position: relative;
  top: -100%;
}
.item {
  position: absolute;
  color: black;
  width: 300px;
  height: 200px;
  background-color: white;
  border-radius:15px;
  right: 50%;
  transform: translate(50%);
  box-shadow: -10px -10px 20px 3px rgba(1, 1, 1, 0.1), -5px -10px 20px 2px rgba(1, 1, 1, 0.1) inset;
}
#ticket {
  transform: translate(calc(-50% - 25px));
}
#schedule {
  transform: translate(calc(150% + 25px));
}

.item-icon {
  background-color: var(--primary-color);
  height: fit-content;
  width: fit-content;
  border-radius: 15px;
  margin: 20px;
  box-shadow: 10px 10px 20px 3px rgba(1, 1, 1, 0.1), 5px 10px 20px 2px rgba(1, 1, 1, 0.1) inset;
}

.item-icon img {
  height: 50px;
  margin: 15px;
  /* transform: scale(0.5); */
}

.item-text-container {
  width: 50px;
  margin-left: 20px;
  padding-bottom: 40px;
  border-bottom: 2px solid var(--primary-color);
}
.item-text {
  color: black;
  position: absolute;
  text-decoration: none;
  font: 700 20px 'Public Sans';
}
.item-text:hover {
  color: var(--primary-color);
}



#booking {
  height: 200px;
  width: 80vw;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  border-radius: 3px;
  box-shadow: 10px 10px 20px 3px rgba(1, 1, 1, 0.1), 5px 10px 20px 2px rgba(1, 1, 1, 0.1) inset;
}
#booking-container {
  position: relative;
  height: 100%;
  width: 100%;
}
#booking-left {
  display: inline-block;
  height: 100%;
  width: 27%;
  border-radius: 3px 0 0 3px;
  box-shadow: 10px 10px 20px 3px rgba(1, 1, 1, 0.1), 5px 10px 20px 2px rgba(1, 1, 1, 0.1) inset;
  background-color: var(--primary-color);
}
#booking-left-text {
  position: absolute;
  top: 50%;
  left: 0%;
  transform: translate(10%, -50%);
  font: 700 36px 'Public Sans';
}

#booking-center-left {
  position: absolute;
  display: inline-block;
  height: 100%;
  width: 25%;
  border-radius: 0px 3px 3px 0;
}
#booking-center-left-h1 {
  font: 400 24px 'Public Sans';
  color: var(--secondary-color);
}
#booking-center-left-items {
  padding: 20px;
}
.booking-text {
  color: black;
  font: 400 16px 'Public Sans';
}

#booking input {
  color: black;
  margin: 5px;
  padding: 10px;
  background-color: rgb(237, 237, 237);
}
#booking input::placeholder {
  color: rgb(122, 122, 122);
}

#booking-center-right {
  position: absolute;
  display: inline-block;
  left: 53%;
  height: 100%;
  width: 27%;
}
#booking-center-right-items {
  padding-top: 30px;
}

#payment-method {
  padding-top: 20px;
}
.card-choice {
  height: 20px;
}


#booking-right {
  position: absolute;
  display: inline-block;
  right: 0;
  height: 100%;
  width: 20%;
}
#booking-right-container {
  position: relative;
  height: 100%;
  width: 100%;
}
#booking-right-container input {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 150px;
  background-color: var(--primary-color);
  font: 400 18px 'Public Sans';
  border-radius: 3px;
  color: white;
}

#booking-right-container input:hover {
  background-color: var(--third-color);
}